/* Color Highlights */
/* #f8cfae <- Highlight? #eba0ac, #fab387 */
@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap');

/* General Page Styling */
#_html {
    background-color: #000000 !important;
    color: #c6c6c6;
    line-height: 1.2;
    letter-spacing:0.3px;
}

body {
    background-color: #000000 !important;
    font-family: "Geist", serif;
    font-weight: 400;
}

p {
    font-size: 18px !important;
}

/* Inline Code Blocks */
code {
    background-color: #1e1e1e !important;
    padding: 2px 5px !important;
    border-radius: 5px;
    color: #00ffcc !important;
    font-size: 15px;
    font-family: "Geist Mono", serif;
}

/* Preformatted Code Blocks */
pre {
    padding: 1em;
    border: 5px solid #2E2032 !important;
    border-radius: 20px;
    margin: 1em 0 1.5em 0 !important;
    font-family: "Geist Mono", serif !important;
    letter-spacing:0.5px;
}

pre code {
    background-color: transparent !important;
    font-family: "Geist Mono", serif !important;
    letter-spacing:0.5px;
}

/* Horizontal Rule */
hr {
    background-color: #c6c6c6 !important;
    height: 5px;
    margin: 4em;
    border: none;
}

/* Highlighted Text */
mark {
    background-color: #c6c6c6 !important;
    border-radius: 5px;
    color: #000;
    padding: 1px 4px;
}

/* Headings */
h1 {
    font-size: 28px !important;
    text-decoration: underline;
    margin-bottom: 1px;
    font-weight: normal;
    color:#fff;
}

h2 {
    font-weight: normal; 
}

h3 {
    font-weight: normal; 
}

h4 {
    font-weight: bold; 
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0;
    background-color: transparent;
    border: 2px solid #939196;
    overflow: hidden;
    cursor: pointer;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #939196;
}

th {
    background-color: #939196;
    color: #000;
    text-align: left;
    font-weight: bold;
}

tr {
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: rgba(46, 32, 50, 0.1);
}

tr:nth-child(odd) {
    background-color: transparent;
}

td {
    color: #c9d1d9;
}

tr:hover {
    background-color: rgba(46, 32, 50, 0.5);
}

/* Blockquotes */
blockquote {
    border-left: none;
    margin: 3em 0;
    padding: 0;
}

/* Lists */
li {
    margin-bottom: 0.5em;
}

/* Images */
img {
    width: 50%;
}

strong{
    font-weight:normal;
    color:#fff;

}
